html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

iframe {
  border-style: none;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

::-webkit-scrollbar {
	width: 0px;
}
